{{>header}}

{{>navbar}}


<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
<link href="/css/create.css" rel="stylesheet" media="all">


<div class="page-wrapper mt-5 bg-gra-03 p-t-45 p-b-50 pt-5 mt-0">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Регистрация заказа</h2>
            </div>
            <div class="card-body">
                <form method="POST" id="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="name fw-bold">Наименование</div>
                            <div class="value">
                                <div class="input-group">
                                    <input id="order-title" class="product-unit input--style-5" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2 p-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <h5 class="card-title">Номер машины</h5>
                                <select class="form-select" aria-label="Default select example" id="cars">

                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h5 class="card-title">Маршрут</h5>
                                <select class="form-select" aria-label="Default select example" id="router">

                                </select>
                            </div>
                        </div>
                    </div>

                    <hr class="m-4">

                    <div>
                        <button class="btn1 btn--radius-2 btn-success" id="sub-btn"
                            type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    // CARS
    fetch(host.local + endpoints.cars, {
        ...requestConfig.withToken,
        method: 'GET'
    }).then(r => r.json())
    .then(({data, success}) => {
        if (success) {
            const carsSelect = document.getElementById('cars')

            for (const car of data.cars) {
                const option = document.createElement('option')
                option.value = car._id
                option.innerText = `${car.model} - ${car.number}`

                carsSelect.appendChild(option)
            }
        }
    })

    // ROUTE
    fetch(host.local + endpoints.routes, {
        ...requestConfig.withToken,
        method: 'GET'
    }).then(r => r.json())
    .then(({data, success}) => {
        if (success) {
            const routeSelect = document.getElementById('router')

            for (const route of data.routes) {
                const option = document.createElement('option')
                option.value = route._id
                option.innerText = route.shortname

                routeSelect.appendChild(option)
            }
        }
    })
    .catch(err => console.log(err))


    document.getElementById('form').addEventListener('submit', ev => {
        ev.preventDefault()
        const router = document.getElementById('router')
        const cars = document.getElementById('cars')
        const carComp = document.getElementById('car-comp')

        fetch(host.local + endpoints.orders, {
            ...requestConfig.withToken,
            method: 'POST',
            body: JSON.stringify({
                title: document.getElementById('order-title').value,
                routeId: router.value,
                carId: cars.value,
            })
        }).then(r => r.json())
        .then(({success, data}) => {
            if(success) {
                window.location.href = '/main'
            }
        })
        .catch(err => console.log(err))


    })
</script>


{{>footer}}