{{>header}}

{{>navbar}}

<link rel="stylesheet" href="/css/card.css">

<div class="container mt-3">
    <div id="card-list" class="row"></div>
</div>

<script>
    fetch(host.local + '/api/orders?status=IN_PROCESS', {
        ...requestConfig.withToken,
        method: 'GET'
    }).then(r => r.json())
    .then(({success, data}) => {
        if(success) {
            const cardList = document.getElementById('card-list')
            for (const order of data.orders) {
                const card = document.createElement('div')
                card.className = 'col-md-6 col-sm-12'
                const progressPercentage = order.updates.length / (order.routeId.cities.length) * 100

                card.innerHTML = `
                <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bx-package"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">${order.carId.number}</h6> <span>${moment(order.updates[0].time).format('HH:mm - DD.MM.YYYY')}</span>
                        </div>
                    </div>
                    <div class="badge"> <span>${order.status === 'IN_PROCESS' ? "В пути" : "Завершен"}</span> </div>
                </div>
                <div class="mt-3">
                    <a href="/order/${order._id}" class="link">
                        <h5 class="heading">Владелец машин: ${order.carId.ownerCompanyId.name}</h5>
                        <h4 class="heading">Наименование заказа: ${order.title}<br>Водитель: ${order.driverId.fullName ?? order.driverId.username}</h4>
                    </a>
                    <div class="mt-3">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: ${progressPercentage}%;"></div>
                        </div>
                        <div class="mt-3"> <span class="text1">${order.updates[order.updates.length - 1].currentCity}<span class="text2"> - ${order.routeId.cities[order.updates.length] ? order.routeId.cities[order.updates.length].city : 'FINISH' }</span></span> </div>
                    </div>
                </div>
            </div>
                `
                cardList.appendChild(card)
            }
        }
    })
</script>

{{>footer}}